@import './theme.css';
@import './font.css';
@import './headers.css';

body {
  background-color: var(--background-colour-1);
  color: var(--text-colour);
  font-family: 'Proza Libre';
  font-size: 16px;
}

img {
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: center;
}


