@import './theme.css';
@import './font.css';

body {
  background-color: var(--background-colour-1);
  font-family: 'PressStart2P-Regular';
  font-size: 16px;
}

img {
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: center;
}


